.container {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	font-family: Arial;
}

.errors {
	border: 2px solid #f11;
	background-color: #fdd;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
	color: #f00;
	display: none;
}

.code .header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.code .header span {
	margin-right: 5px;
}

.run-button {
	background-color: #dfd;
	font-size: 16px;
	border: 2px solid #0d0;
	border-radius: 2px;
	text-transform: uppercase;
	margin-right: 5px;
	color: #0a0;
}

.run-button:active {
	background-color: #bdb;
}

.stop-button {
	background-color: #fdd;
	font-size: 16px;
	border: 2px solid #d00;
	border-radius: 2px;
	text-transform: uppercase;
	color: #a00;
}

.stop-button:active {
	background-color: #dbb;
}

.button-container {
	display: inline-block;
	float: right;
}

.code textarea {
	max-width: 100%;
	width: 100%;
	height: 300px;
	tab-size: 4;
}

#canvas {
    background-image: url("vvmap.png");
}
